*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav{
    background-color: #ffffff;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}