*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav{
    background-color: #ffffff;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 16px 120px;
}

.list{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-weight: ;
}
.btn{
    background-color: #469165;
    border: none;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}